@{
    ViewBag.Title = "About";
}
<h2>Programming test</h2>
<h3>Web contact submission page</h3>

<p>name: Jhon Mark Paid</p>
<p>email: <a href="mailto:Support@example.com">Jhonmarkpaid@gmail.com</a></p>

